.result_table {
    table-layout: fixed;
    /*border: 1px solid black;*/
    border: none;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
    min-width: 500px
    /*width: 800px;*/
    /*min-width: 50%;*/
    /*max-width: 95%;*/
    text-align: left;
}
.result_table th, tr, td {
    border: 1px solid black;
    /*border: none;*/
    min-width: 40px;
    max-width: 500px;
    padding: 10px;
}
.result_table th {
    color: white;
    background-color: #424242;
}
.result_table tr {
}
.result_table tr:nth-child(odd) {
    background-color: #DADADA;
}
.result_table tr:nth-child(even) {
    background-color: white;
}