html, body {
    height: 100%;
    min-width: 600px;
    /* will appear as footer bg-color */
    background-color: #424242;
}

#master_container {
    min-height: 100%;
    height: auto;
    width: 100%;
    /* Negative indent footer by its height */
    margin: 0 auto -200px;
    /* Pad bottom by footer height */
    /*padding: 0 0 200px;*/

    /* push full bottom */
    position: relative;
}

#navbar {
    /*NONE*/
}

#main {
    /*text-align: center;*/
}

#footer {
    width: 100%;
    height: auto;
    padding-bottom: 40px;

    /* push full bottom */
    /*position: absolute;*/
    /*bottom: 0;*/
    /*left: 0;*/
}

#footer h4 {
    /*color: cornflowerblue;*/
    color: whitesmoke;
}

#footer p, a {
    color: #A0A0A0;
}

.error {
    color: red;
    text-transform: none;
}

.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
}

.btn-circle.btn-lg {
    width: 50px;
    height: 50px;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 25px;
}

.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    font-size: 24px;
    line-height: 1.33;
    border-radius: 35px;
}

.bs-callout {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
}

.bs-callout h4 {
    margin-top: 0;
    margin-bottom: 5px;
}

.bs-callout p:last-child {
    margin-bottom: 0;
}

.bs-callout code {
    border-radius: 3px;
}

.bs-callout + .bs-callout {
    margin-top: -5px;
}

.bs-callout-default {
    border-left-color: #777;
}

.bs-callout-default h4 {
    color: #777;
}

.bs-callout-primary {
    border-left-color: #428bca;
}

.bs-callout-primary h4 {
    color: #428bca;
}

.bs-callout-success {
    border-left-color: #5cb85c;
}

.bs-callout-success h4 {
    color: #5cb85c;
}

.bs-callout-danger {
    border-left-color: #d9534f;
}

.bs-callout-danger h4 {
    color: #d9534f;
}

.bs-callout-warning {
    border-left-color: #f0ad4e;
}

.bs-callout-warning h4 {
    color: #f0ad4e;
}

.bs-callout-info {
    border-left-color: #5bc0de;
}

.bs-callout-info h4 {
    color: #5bc0de;
}

.table.no-border tr td, .table.no-border tr th {
    border-width: 0;
}

.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
    background-color: white;
}

.table-striped > tbody > tr:nth-child(2n) > td, .table-striped > tbody > tr:nth-child(2n) > th {
    background-color: #F5F5F5;
}

.panel-dark {
    border-color: #B4B4B4;
}

.panel-dark > .panel-heading {
    color: white;
    background-image: none;
    background-color: #404040;
    border-color: #404040;
}