html, body {
    width: 100%;
    min-width: 1200px;
    overflow-x: auto;
    height: 100%;
    margin: 0;
    padding: 0;
}

#master_form {
    height: 100%;
}

#master_container {
    min-height: 100%;
    width: 100%;
    position: relative;
    background-color: #f6f6f6;
}
#main {
    padding: 20px;
    padding-bottom: 100px;
    text-align: center;
    font-size: small;
}

.error {
    color: red;
    text-transform: none;
}