.btn-ghost {
    background: transparent;
}

.btn-ghost.btn-bold {
    border-width: 2px;
    font-weight: bold;
}

.btn-ghost.btn-panel {
    color: ghostwhite;
}

.btn-ghost.btn-panel:hover {
    color: ghostwhite;
    background: #343434;
}

.btn-ghost.btn-panel:focus, .btn-ghost.btn-panel:active, .btn-ghost.btn-panel:active {
   background: #343434;
}

.btn-ghost.btn-default {
    color: #232323;
    border-color: #232323;
}

.btn-ghost.btn-default:hover {
    background: #404040;
    color: ghostwhite;
}

.btn-ghost.btn-white {
    color: ghostwhite;
    border-color: ghostwhite;
}

.btn-ghost.btn-white:hover {
    color: #404040;
    background: ghostwhite;
}

.btn-ghost.btn-primary {
    color: #337ab7;
    border-color: #337ab7;
}

.btn-ghost.btn-primary:hover {
    color: ghostwhite;
    background: #337ab7;
}

.btn-ghost.btn-info {
    color: #5bc0de;
    border-color: #5bc0de;
}

.btn-ghost.btn-info:hover {
    color: ghostwhite;
    background: #5bc0de;
}


.btn-ghost.btn-success {
    color: #5cb85c;
    border-color: #5cb85c;
}

.btn-ghost.btn-success:hover {
    color: ghostwhite;
    background: #5cb85c;
}

.btn-ghost.btn-warning {
    color: #f0ad4e;
    border-color: #f0ad4e;
}

.btn-ghost.btn-warning:hover {
    color: ghostwhite;
    background: #f0ad4e;
}

.btn-ghost.btn-danger {
    color: #d9534f;
    border-color: #d9534f;
}

.btn-ghost.btn-danger:hover {
    color: ghostwhite;
    background: #d9534f;
}

.btn-circle {
    width: 32px;
    height: 32px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 16px;
}

.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    font-size: 24px;
    line-height: 1.33;
}

/*.btn-lg {*/
    /*padding:10px 16px;*/
    /*font-size:18px;*/
    /*line-height:1.3333333;*/
    /*border-radius:6px*/
/*}*/

.btn-circle.btn-lg {
    width: 50px;
    height: 50px;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 25px;
}

.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    font-size: 24px;
    line-height: 1.33;
    border-radius: 35px;
}

.bs-callout {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
}

.bs-callout h4 {
    margin-top: 0;
    margin-bottom: 5px;
}

.bs-callout p:last-child {
    margin-bottom: 0;
}

.bs-callout code {
    border-radius: 3px;
}

.bs-callout + .bs-callout {
    margin-top: -5px;
}

.bs-callout-default {
    border-left-color: #777;
}

.bs-callout-default h4 {
    color: #777;
}

.bs-callout-primary {
    border-left-color: #428bca;
}

.bs-callout-primary h4 {
    color: #428bca;
}

.bs-callout-success {
    border-left-color: #5cb85c;
}

.bs-callout-success h4 {
    color: #5cb85c;
}

.bs-callout-danger {
    border-left-color: #d9534f;
}

.bs-callout-danger h4 {
    color: #d9534f;
}

.bs-callout-warning {
    border-left-color: #f0ad4e;
}

.bs-callout-warning h4 {
    color: #f0ad4e;
}

.bs-callout-info {
    border-left-color: #5bc0de;
}

.bs-callout-info h4 {
    color: #5bc0de;
}

.table.no-border tr td, .table.no-border tr th {
    border-width: 0;
}

.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
    background-color: white;
}

.table-striped > tbody > tr:nth-child(2n) > td, .table-striped > tbody > tr:nth-child(2n) > th {
    background-color: #F5F5F5;
}

.panel-dark {
    border-color: #B4B4B4;
}

.panel-dark > .panel-heading {
    color: white;
    background-image: none;
    background-color: #232323;
    border-color: #232323;
}