<form class="text-left" id="id_add_actor_form" name="add_movie_form" role="form" method="post">
    {% csrf_token %}
    <div class="row">
        <div class="col-lg-12">
            <div class="form-group">
                {{ actor_form.first.errors }}
                {{ actor_form.first }}
            </div>
            <div class="form-group">
                {{ actor_form.last.errors }}
                {{ actor_form.last }}
            </div>
            <div class="form-group">
                {{ actor_form.sex.errors }}
                <label for="id_dob" class="text-capitalize">Sex</label>
                {{ actor_form.sex }}
            </div>
            <div class="form-group">
                {{ actor_form.dob.errors }}
                <label for="id_dob" class="text-capitalize">Date of Birth</label>
                {{ actor_form.dob }}
            </div>
            <div class="form-group">
                {{ actor_form.dod.errors }}
                <label for="id_dod" class="text-capitalize">Date of Death</label>
                {{ actor_form.dod }}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-4 col-xs-offset-4">
            <div class="form-group">
                <button type="submit" class="btn btn-block btn-success btn-ghost btn-lg" name="submit" value="actor">
                    Submit
                </button>
            </div>
        </div>
    </div>
</form>