<form class="form-horizontal" id="id_add_movie_form" name="add_movie_form" role="form" method="post">
    {% csrf_token %}
    {{ movie_form.media }}
    {# error alert #}
    {% if movie_form.errors or genre_form.errors %}
        {% include 'controls/form_alert_error.html' with form=form %}
    {% endif %}
    {# movie form fields #}
    {% include 'controls/form_field_repeater_horizontal.html' with form=movie_form %}
    {# genre form #}
    <div class="form-group {% if genre_form.genres.errors %}has-error has-feedback{% endif %}">
        <div class="col-sm-2 control-label">
            <label for="{{ genre_form.genres.id_for_label }}">{{ genre_form.genres.label }}</label>
        </div>
        <div class="col-sm-9">
            <div class="panel {% if genre_form.genres.errors %}has-error{% else %}panel-default{% endif %}">
                <div class="panel-body">
                    <table id="id_genre_checkboxes" class="table table-condensed no-border">
                        {% for genre in genre_form.genres %}
                            {% if forloop.first %}
                                <tr>
                            {% elif forloop.counter0|divisibleby:3 %}
                                </tr>
                                <tr>
                            {% endif %}
                            <td>{{ genre }}</td>
                        {% endfor %}
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        {% if genre_form.genres.errors %}
            <a class="btn btn-link warning-icon"
               data-toggle="tooltip"
               data-placement="top"
               title="{% for error in genre_form.genres.errors %}{{ error }}{% endfor %}">
                <span class="glyphicon glyphicon-warning-sign " aria-hidden="true"></span>
            </a>
        {% endif %}
    </div>
    {# form submit #}
    <div class="form-group">
        <div class="col-xs-4 col-xs-offset-4">
            <button type="submit" class="btn btn-block btn-success btn-ghost btn-lg" name="submit" value="movie">
                Submit
            </button>
        </div>
    </div>
</form>