<form class="form-horizontal" id="id_movie_actor_form" name="movie_actor_form" role="form" method="post">
    {% csrf_token %}
    {{ movieactor_form.media }}
    {# error alert #}
    {% if movieactor_form.errors %}
        {% include 'controls/form_alert_error.html' with form=movieactor_form %}
    {% endif %}
    {# form fields #}
    {% include 'controls/form_field_horizontal.html' with field=movieactor_form.mid %}
    {% include 'controls/form_field_horizontal.html' with field=movieactor_form.aid %}
    {% include 'controls/form_field_horizontal.html' with field=movieactor_form.role %}
    {# form submit #}
    <div class="form-group">
        <div class="col-xs-4 col-xs-offset-4">
            <button type="submit" class="btn btn-block btn-success btn-ghost btn-lg" name="submit" value="movieactor">
                Submit
            </button>
        </div>
    </div>
</form>