<!DOCTYPE html>
{% extends 'form_panel_md.html' %}

{% block form_heading %}
    <h2>Add A Movie</h2>
{% endblock %}

{% block form_content %}
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                {{ add_movie_form.title }}
            </div>
            <div class="form-group">
                {{ add_movie_form.company }}
            </div>
            <div class="form-group">
                <label for="id_year">Year</label>
                {{ add_movie_form.year }}
            </div>
            <div class="form-group">
                <label for="id_rating">MPAA
                    Rating</label>
                {{ add_movie_form.rating }}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-4 col-xs-offset-4">
            <div class="form-group">
                <h2><button class="btn btn-block btn-success btn-ghost btn-lg">Submit</button></h2>
            </div>
        </div>
    </div>
{% endblock %}