<!DOCTYPE html>
{% extends 'form_panel_md.html' %}

{% block form_heading %}
    <h2>Add a New Actor or Director</h2>
{% endblock %}

{% block form_content %}
    {# tab controls #}
    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#tabpane_actor">Actor</a></li>
        <li><a data-toggle="tab" href="#tabpane_director">Director</a></li>
    </ul>
    {# tab panels #}
    <div class="tab-content">
        {# actors #}
        <div id="tabpane_actor" class="tab-pane fade in active">
            <h3 class="text-info">Actor</h3>
            <form class="text-left" id="id_add_actor_form" name="add_movie_form" role="form" method="post">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="form-group">
                            {{ actor_form.first.errors }}
                            {{ actor_form.first }}
                        </div>
                        <div class="form-group">
                            {{ actor_form.last.errors }}
                            {{ actor_form.last }}
                        </div>
                        <div class="form-group">
                            {{ actor_form.sex.errors }}
                            <label for="id_dob">Sex</label>
                            {{ actor_form.sex }}
                        </div>
                        <div class="form-group">
                            {{ actor_form.dob.errors }}
                            <label for="id_dob">Date of Birth</label>
                            {{ actor_form.dob }}
                        </div>
                        <div class="form-group">
                            {{ actor_form.dod.errors }}
                            <label for="id_dob">Date of Death</label>
                            {{ actor_form.dod }}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-4 col-xs-offset-4">
                        <div class="form-group">
                            <button class="btn btn-block btn-success btn-ghost btn-lg">Submit</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        {# directors #}
        <div id="tabpane_director" class="tab-pane fade">
            <form class="text-left" id="id_add_director_form" name="add_movie_form" role="form" method="post">
                <div class="row">
                    <div class="col-lg-12">
                        <h3 class="text-info">Director</h3>
                            <div class="form-group">
                                {{ director_form.first.errors }}
                                {{ director_form.first }}
                            </div>
                            <div class="form-group">
                                {{ director_form.last.errors }}
                                {{ director_form.last }}
                            </div>
                            <div class="form-group">
                                {{ director_form.dob.errors }}
                                <label for="id_dob">Date of Birth</label>
                                {{ director_form.dob }}
                            </div>
                            <div class="form-group">
                                {{ director_form.dod.errors }}
                                <label for="id_dob">Date of Death</label>
                                {{ director_form.dod }}
                            </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-4 col-xs-offset-4">
                        <div class="form-group">
                            <button class="btn btn-block btn-success btn-ghost btn-lg">Submit</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
