<!doctype html>

{% load staticfiles %}
<html lang="">

<head>
    <title>{{ title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/style_master.css' %}">
    <link rel="stylesheet" href="{% static 'css/style_navbar.css' %}">
    <link rel="stylesheet" href="{% static 'css/style_footer.css' %}">
    <link rel="stylesheet" href="{% static 'css/style_search.css' %}">
    <link rel="stylesheet" href="{% static 'css/style_result.css' %}">
</head>

<body>
<div id="master_container">
    <nav id="navbar" class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="{{ home_url }}">MovieDB</a>
            </div>
            <div>
                <ul class="nav navbar-nav">
                {% for item in nav_items %}
                    <li><a href="{{ item.url }}">{{ item.text }}</a></li>
                {% endfor %}
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a> </li>
                    <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a> </li>
                </ul>
            </div>
        </div>
    </nav>

    <div id="main">
        {% block main_block %}{% endblock %}
    </div>

    <div id="footer">
        |
        {% for item in nav_items %}
            <a class="btn-link" href="{{ item.url }}">{{ item.text }}</a> |
        {% endfor %}
    </div>
</div>
</body>

</html>
