<div class="row">
    <div class="col-lg-12">
        <nav>
            <ul class="pagination">

                {# beginning #}
                {% if page.has_previous %}
                    <li><a href="{{ page_url }}{% if search_term %}search_term={{ search_term }}/{% endif %}page=1" >
                {% else %}
                    <li class="disabled">
                {% endif %}
                    <span class="fa fa-angle-double-left"></span></a></li>

                {# previous #}
                {% if page.has_previous %}
                    <li><a href="{{ page_url }}{% if search_term %}search_term={{ search_term }}/{% endif %}page={{ page.previous_page_number }}">
                {% else %}
                    <li class="disabled">
                {% endif %}
                    <span class="fa fa-angle-left" ></span></a></li>

                {# page numbers #}
                {% for num in page_range %}
                    <li {% if num == page.number %}class="active"{% endif %}>
                        <a href="{{ page_url }}{% if search_term %}search_term={{ search_term }}/{% endif %}page={{ num }}">{{ num }}</a>
                    </li>
                {% endfor %}

                {# next #}
                {% if page.has_next %}
                    <li><a href="{{ page_url }}{% if search_term %}search_term={{ search_term }}/{% endif %}page={{ page.next_page_number }}" >
                {% else %}
                    <li class="disabled">
                {% endif %}
                    <span class="fa fa-angle-right"></span></a></li>

                {# end #}
                {% if page.has_next %}
                    <li><a href="{{ page_url }}{% if search_term %}search_term={{ search_term }}/{% endif %}page={{ page.paginator.num_pages }}" >
                {% else %}
                    <li class="disabled">
                {% endif %}
                    <span class="fa fa-angle-double-right"></span></a></li>

            </ul>
        </nav>
    </div>
</div>