<!DOCTYPE html>
{% extends 'base.html' %}

{% block main_block %}
    <div class="container">

        <div class="row">
            <div class="col-lg-12">
                <h1>{{ panel_heading }}</h1>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="panel panel-dark text-left">
                    <div class="panel-heading">
                        {% block form_heading %}{% endblock %}
                    </div>

                    <div class="panel-body">
                        {% block form_content %}{% endblock %}
                    </div>

                    {% block form_footer %}{% endblock %}
                </div>
            </div>
        </div>

    </div>
{% endblock %}