{# stlesheets #}
{% load staticfiles %}

<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
<link rel="stylesheet" href="{% static 'css/style_main.css' %}">
<link rel="stylesheet" href="{% static 'css/style_buttons.css' %}">
<link rel="stylesheet" href="{% static 'css/star-rating.css' %}">

{# scripts #}
<script src="{% static 'js/jquery-1.11.3.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/star-rating.js' %}"></script>

{# Initialize tooltips #}
<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
</script>