{% extends 'base.html' %}
{% load staticfiles %}
{% block main_block %}
    <div class="container">
        <h1>{{ page_header }}</h1>

        <div class="panel panel-default text-left">
            <div class="panel-heading">
                <h2 class="">{{ movie.title }}</h2>
            </div>
            <div class="list-group">
                <div class="list-group-item">
                    <div class="media">
                        <div class="media-left media-top">
                            <img class="media-object" src="{% static 'img/default_movie.png' %}">
                        </div>
                        <div class="media-body">
                            <h3 class="text-primary text-capitalize">
                                Details</h3>
                            <dl class="dl-horizontal">
                                <dt>Year</dt>
                                <dd>{{ movie.year }}</dd>
                                <dt>Company</dt>
                                <dd>{{ movie.company }}</dd>
                                <dt>MPAA Rating</dt>
                                <dd>{{ movie.rating }}</dd>
                                <dt>Genres</dt>
                                {% for genre in genres %}
                                    <dd>{{ genre }}</dd>
                                {% endfor %}
                            </dl>
                        </div>
                    </div>
                </div>

                <div class="list-group-item">
                    <h3 class="text-primary text-capitalize">Cast & Crew</h3>
                    <dl class="dl-horizontal">
                        <dt>Directors</dt>
                        {% if directors %}
                            {% for director in directors %}
                                <dd>{{ director.get_full_name }}</dd>
                            {% endfor %}
                        {% else %}
                            <dd>N/A</dd>
                        {% endif %}
                        <dt>Actors</dt>
                        {% for actor in actors %}
                            <dd>{{ actor.get_full_name }}
                        {% endfor %}
                    </dl>
                </div>

                <div class="list-group-item">
                    <h3 class="text-primary text-capitalize">Reviews</h3>
                    <dl class="dl-horizontal">
                        <dt>Avg. User Rating</dt>
                        {% if avg_user_rating %}
                            <dd>{{ avg_user_rating }}</dd>
                        {% else %}
                            <dd>This movie has not yet been reviewed</dd>
                        {% endif %}
                    </dl>
                </div>
            </div>
        </div>
    </div>
{% endblock %}