<!doctype html>

{% load staticfiles %}
<html lang="">

<head>
    <title>{{ title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% include 'includes.html' %}
    {% block head_extra %}{% endblock %}
</head>

<body>

{% include 'controls/navbar_control.html' %}

<div id="master_container">

    <div id="main" class="jumbotron text-center">
        {% block main_block %}{% endblock %}
    </div>

    {% include 'controls/footer_control.html' %}
</div>
</body>

</html>
