{% extends 'views/detail_base_view.html' %}
{% load staticfiles %}

{% block panel_heading %}
    {{ movie.get_cleaned_title }}
{% endblock %}

{% block details_content %}
    <div class="list-group">
        {# Movie Details #}
        <div class="list-group-item">
            <div class="media">
                <div class="media-left media-top">
                    <img class="media-object" src="{% static 'img/default_movie.png' %}">
                </div>
                <div class="media-body">
                    <Table class="table table-condensed no-border" border="0">
                        <tr>
                            <td><h4><strong>Year</strong></h4></td>
                            <td><h4>{{ movie.year }}</h4></td>
                        </tr>
                        <tr>
                            <td><h4><strong>Company</strong></h4></td>
                            <td><h4>{{ companies }}</h4></td>
                        </tr>
                        <tr>
                            <td><h4><strong>MPAA Rating</strong></h4></td>
                            <td><h4>
                                {% if movie.mpaa_rating.value == 'G' %}
                                    <img src="{% static 'img/mpaa-icon_g.svg.png' %}" height="20">
                                {% elif movie.mpaa_rating.value == 'PG' %}
                                    <img src="{% static 'img/mpaa-icon_pg.svg.png' %}" height="20">
                                {% elif movie.mpaa_rating.value == 'PG-13' %}
                                    <img src="{% static 'img/mpaa-icon_pg-13.svg.png' %}" height="20">
                                {% elif movie.mpaa_rating.value == 'R' %}
                                    <img src="{% static 'img/mpaa-icon_r.svg.png' %}" height="20">
                                {% elif movie.mpaa_rating.value == 'NC-17' %}
                                    <img src="{% static 'img/mpaa-icon_nc-17.svg.png' %}" height="20">
                                {% elif movie.mpaa_rating.value == 'surrendered' %}
                                    <h4>Rating surrendered</h4>
                                {% endif %}
                            </h4></td>
                        </tr>
                        <tr>
                            <td><h4><strong>Avg. User Rating</strong></h4></td>
                            <td>
                                <input
                                    type="number"
                                    class="rating form-control hide"
                                    data-size="xs" data-show-clear="false"
                                    data-readonly="true"
                                    value="{{ avg_user_rating }}">
                            </td>
                        </tr>
                        <tr>
                            <td><h4><strong>Genres</strong></h4></td>
                            <td>
                            {% if genres %}
                                <h4>
                                {% for genre in genres %}
                                    {% if forloop.first %}
                                        {{ genre }}
                                    {% else %}
                                        , {{ genre }}
                                    {% endif %}
                                {% endfor %}
                                </h4>
                            {% else %}
                                <h4><em>No genres to display</em></h4>
                            {% endif %}
                            </td>
                        </tr>
                    </Table>
                </div>
            </div>
        </div>
        {# Directors #}
        <div class="list-group-item">
            <h3 class="list-group-item-heading text-capitalize">Directors</h3>
            {% if directors %}
                <table class="table table-condensed table-striped no-border">
                    {% for director in directors %}
                        <tr>
                            <td>
                                <a class="text-primary text-capitalize"
                                   href="{% url 'DirectorDetail' director.director_id %}">
                                    <img class="img-circle" src="{% static 'img/default_person.png' %}" width="24">
                                    {{ director.director.get_full_name }}
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            {% else %}
                <h4 class="text-muted"><em>No directors to display</em></h4>
            {% endif %}
        </div>
        {# Actors #}
        <div class="list-group-item">
            <h3 class="list-group-item-heading text-capitalize">Cast</h3>
            {% if actors %}
                <table class="table table-condensed table-striped no-border">
                    <th class="text-info">Actor</th>
                    <th class="text-info">Role</th>
                    {% for actor in actors %}
                        <tr>
                            <td>
                                <a class="text-primary text-capitalize"
                                   href="{% url 'ActorDetail' actor.actor_id %}">
                                    <img class="img-circle" src="{% static 'img/default_person.png' %}" height="24">
                                    {{ actor.actor.get_full_name }}
                                </a>
                            </td>
                            <td>
                                {{ actor.roles|join:', ' }}
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            {% else %}
                <h4 class="text-muted"><em>No cast to display</em></h4>
            {% endif %}
        </div>
        {# Reviews #}
        <div class="list-group-item">
            <h3 class="list-group-item-heading text-capitalize">Reviews</h3>
            {% if reviews %}
                {% for review in reviews %}
                    {% include 'controls/review_card.html' with review=review %}
                {% endfor %}
                <div class="row" align="center">
                    <div class="col-lg-12">
                        <a class="btn btn-default" href="{% url 'ViewReview' movie.id %}">View More</a>
                        <a class="btn btn-success" href="{% url 'WriteReview' movie.id %}">Write a review</a>
                    </div>
                </div>
            {% else %}
                <h4 class="text-muted"><em>No Reviews To display</em></h4>
                <div class="row" align="center">
                    <div class="col-lg-12">
                        <a class="btn btn-success" href="{% url 'WriteReview' movie.id %}">Write a review</a>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}