{% extends 'views/base_view.html' %}
{% block main_block %}
    <div class="container">
        <h1 class="">{{ page_header }}</h1>

        <div class="alert alert-info alert-dismissable fade in" role="alert">
            <button type="button" class="close" data-dismiss="alert"
                    aria-label="Close"><span aria-hidden="true">&times;</span>
            </button>
            <strong>What's Up!</strong> Go ahead and play with the site
        </div>

        <div class="alert alert-success alert-dismissable fade in" role="alert">
            <button type="button" class="close" data-dismiss="alert"
                    aria-label="Close"><span aria-hidden="true">&times;</span>
            </button>
            <strong>What Works?</strong> Navigation, Search, Browse pages, Details pages, 'Add' forms, 'Write a Review' form
        </div>

        <div class="alert alert-danger alert-dismissable fade in" role="alert">
            <button type="button" class="close" data-dismiss="alert"
                    aria-label="Close"><span aria-hidden="true">&times;</span>
            </button>
            <strong>What Doesn't Work Yet?</strong> Browse Reviews page
        </div>

        <h2>Filler Text</h2>

        <p>{% lorem 3 %}</p>

        <h2>Filler Text</h2>

        <p>{% lorem 3 %}</p>

        <h2>Filler Text</h2>

        <p>{% lorem 3 %}</p>
    </div>
{% endblock %}